<div id='Areviewsapp' class='page-full'>{%  render 'aliexpress_reviews' , product: product %}</div>
	
	{% schema %}
	 {
	    "name": "areviews section",
	   
	    "presets": [{
	      "name": "areviews section"
	    }]
	  }
	{% endschema %}